{% trans_default_domain 'FOSUserBundle' %}
<div class="margin-top-100">
  <h2 class="page-header">Edit profile</h2>
  <div class="col-md-8 col-md-offset-2 ">
    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
        {{ form_widget(form) }}
        <div>
            <input class="btn btn-lg btn-success btn-block" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
        </div>
    {{ form_end(form) }}
  </div>
</div>
