{% trans_default_domain 'FOSUserBundle' %}
<div class="margin-top-150">
  <h2 class="form-signin-heading col-md-offset-5">Register</h2>
  {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
      {{ form_widget(form) }}
      <div>
          <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-lg btn-success btn-block"/>
          <a href="/login" class="btn btn-lg btn-primary btn-block" type="submit">Log in</a>
      </div>
  {{ form_end(form) }}
</div>
