.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.angular-google-map-container {
    height: 500px;
    margin-bottom: 15px;
}
.margin-top-100 {
    margin-top: 100px;
}
.margin-top-150 {
    margin-top: 150px;
}
.margin-top-50 {
    margin-top: 50px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-top-85 {
    margin-top: 85px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-buttom-30 {
    margin-bottom: 30px;
}
.margin-buttom-10 {
    margin-bottom: 10px;
}

.height-500 {
    height: 500px;
}
.height-550 {
    height: 550px;
}
